body {
    background: white;
    font-family: Arial, sans-serif;
    margin: 8px;
}

.g1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
user agent stylesheet


.group1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin-left: 1em;
    margin-right: 1em;
    z-index: 55;
    margin-top: 2em;
    opacity: ;
}

#btt1 {
    opacity: 0;
}
.group1 button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    z-index: 4444;
    border: 2px solid red;
}


button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-size-adjust: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}


#btt2 {
    opacity: 0;
}
#btt3 {
    opacity: 0;
}
#btt4 {
    opacity: 0;
}
#btt5 {
    opacity: 0;
}
#btt6 {
    opacity: 0;
}
#btt7 {
    opacity: 0;
}
#btt8 {
    opacity: 0;
}
#btt9 {
    opacity: 0;
}
#btt10 {
    opacity: 0;
}
#btt11 {
    opacity: 0;
}
#btt12 {
    opacity: 0;
}

.images1 {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.ask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    z-index: 5555555;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    margin-top: em;
    position: relative;
}

